@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Lexend+Deca:wght@500;700&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* html{
    background-color: rgba(0, 0, 0, 0.897);
} */

/* Fonts and All Typings */
.l {
    font-family: 'Lexend Deca', sans-serif;
}
.c {
    font-family: 'Cantata One', serif;
}
.r {
    font-family: 'Righteous', cursive;

}
 
.shine {
    position: relative;
  
    color: #fff;
    text-transform: uppercase;
  
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #fff, #000, #fff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 2s linear infinite;
    background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.01);
}
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}






/* Flip Animation * /

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 150px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

  }
  
  
  .flip-card-back {
    transform: rotateY(180deg);
  }